html {
  height: 100%
  text-size-adjust: 100%;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
}

.colordisplaybackground {
  margin: 0 0 20px 0;
  background-size: contain;
  background-image: url('images/trippy.jpg');
  overflow: hidden;
  border-radius: 5px;
}

.colordisplay {
  border: 7px solid rgb(75, 75, 75);
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin: 0;
}

.pickerbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 500px;
  background-color: rgb(204, 204, 204);
  border-radius: 7px;
}

.sliders {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  margin: 15px;
  width: 60%;
}

input[type=range] {
  width: 80%;
}

input[type=range] {
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url('images/picasso.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 23px;
  width: 23px;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 24px;
  border: 1px solid rgb(65, 65, 65);
}

.button {
  display: flex;
  justify-content: space-between;
  background-color: rgb(106, 106, 106);
  width: 200px;
  padding: 10px;
  border-radius: 5px;
}
